{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "html",
    "unicorn",
    "babel",
    "markdown"
  ],
  "extends": [
    "plugin:ava/recommended",
    "plugin:unicorn/recommended",
    "xo",
    "xo-space"
  ],
  "rules": {
    "capitalized-comments": "off"
  }
}